# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
build.xml
manifest.mf
nbproject/


# Class Files #

# Package Files #
*.war
*.ear

# IntelliJ specific #
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

# Visual Studio Code specific #
.vscode/
.code-workspace